body{
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
.header-links{
    color: #E5E7EB;
    text-decoration: none;
}
button{
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 5px 20px;
    border-radius: 5px;
    border: 0px;
}

.header, .footer{
    background-color: #1F2937;
    color: white;
    display:flex;
    flex-direction: column;
}

.hd-container1{
    display:flex;
    justify-content: space-between;
    padding: 16px 15% 32px;
}
.header-links{
    display: flex;
    gap: 16px
}

.hd-container2{
    display: flex;
    padding: 16px 15% 40px;
    gap: 24px;
}

.header-main-text{
    width: 50%;
}
.header-bold-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding-bottom: 8px;
}
.header-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 8px;
}

.header-img{
    width: 50%;
}
.header-img img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}




.random-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 15% 64px;
}
.RI-header{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 32px;
}
.RI-gallary{
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}
.RI-pair{
    display: flex;
    flex-direction: column;
    width: 200px;
}
.RI-img{
    width: 200px;
    height: 200px;
    border: 2px solid #3882F6;
    border-radius: 5px;
}
.RI-text{
    padding-top: 8px;
    text-align: center;
}

.quote-container{
    background-color: #E5E7EB;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 32px 15% 64px;
}
.quote-text{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    align-self: flex-start;
}
.quote-author{
    align-self: flex-end;
    color: #1F2937;
    font-size: 24px;
    font-weight: bolder;
}


.signup-container{
    flex: 1;
    margin: 32px 15%;
    background-color: #3882F6;
    padding: 24px 64px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
}
.SU-headertext{
    color: #F9FAF8;
    font-size: 24px;
}
.SU-bodytext{
    font-size: 18px;
    color: #E5E7EB;
}

.signup-container button{
    border: 1px solid #F9FAF8;
}

.footer{
    background-color: #1F2937;
    display: flex;
    padding: 32px 15%;
    align-items: center;
    justify-content: center;
}

.footer-link{
    text-decoration: solid;
    color:#3882F6;
}
.footer-link:visited{
    color:#3882F6;
}